<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= teamName %>
  </title>
</head>
<body>
  <h1>
    <%= teamName %> Players
  </h1>
  <ul>
    <% teamPlayers.forEach( player => { %>
      <li>
        <%= player.Player %> | <%= player.Pos %>
      </li>
    <% }) %>
  </ul>
</body>
</html>